<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<center>
  <hr>
  <a class="btn btn-warning" href="/">HOME</a>
<hr>
</center>
<div class="container">
{% for a in details %}
<div class="card">
  <div class="card-header">
    {{ a.name }}
  </div>
  <div class="card-body">
    <img src="{{ a.image.url }}" alt="">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">{{ a.product_discription }}</p>
    <p class="card-text">Count: {{ a.count }}</p>

    <a href="/products/removefromcart/{{ a.id }}/" class="btn btn-primary">Remove From cart</a>
  </div>
</div>
{% endfor %}
</div>
<hr>
<center>
  <a class="btn btn-danger" href="/">Proceed To checkout</a>

</center>
  </body>
</html>
