{% extends 'base.html' %}

{% block content %}

{% if flag == 'true' %}

{% for i in products %}
<div class="d-inline-flex p-2 bd-highlight">
  <div class="card ms-3" style="width: 18rem;">
    <img src="{{ i.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ i.name }}</h5>
      <p class="card-text">{{ i.product_discription }}</p>
      <a href="/products/removeFromWishlist1/{{ i.id }}" class="btn btn-primary">Remove from Wishlist.</a>
    </div>
  </div>

  </div>
{% endfor %}

{% endif %}


{% if flag == 'false' %}
<h3>No items in wishlist</h3>
{% endif %}

{% endblock %}