<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wishlist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  </head>
  <body>    <hr>
  <center>
    <a class="btn btn-warning" href="/">HOME</a>
  </center>
    <hr>
{% if flag=='true' %}
{% for i in products %}
<div class="d-inline-flex p-2 bd-highlight">
  <div class="card ms-3" style="width: 18rem;">
    <img src="{{ i.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ i.name }}</h5>
      <p class="card-text">{{ i.product_discription }}</p>
      <a href="/products/removeFromWishlist1/{{ i.id }}" class="btn btn-primary">Remove from Wishlist.</a>
    </div>
  </div>

  </div>
{% endfor %}

{% endif %}


{% if flag=='false' %}
<h3>No items in wishlist</h3>
{% endif %}
  </body>
</html>
